---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import PostList from '../components/PostList.astro';
---

<Layout>
	<Header />
	<main class="main">
		<PostList />
	</main>
</Layout>

<style>
	.main {
		margin: 2rem auto;
	}
</style>
