@import "highlight.js/styles/github-dark.css";
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: #ffffff;
  --fg: #222222;
  --muted: #4f5054;
  --line: #222222;
}

.dark {
  --bg: #222222;
  --fg: #ffffff;
  --muted: #ffffff;
  --line: #ffffff;
}

@layer base {
  * {
    @apply box-border;
  }

  html,
  body {
    @apply m-0 min-h-full p-0;
  }

  body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    @apply antialiased;
  }

  a {
    @apply no-underline;
  }
}

@layer components {
  .nav-item {
    @apply font-medium text-2xl leading-none tracking-[-0.035em] transition-opacity p-[6px];
  }

 .grid-lists {
  @apply grid grid-cols-3 gap-10;
 }

  .lists li {
    @apply font-medium text-2xl p-[6px] bg-[var(--fg)] text-[var(--bg)] w-fit;
  }

  .link {
    @apply hover:underline hover:decoration-[0.08em] hover:underline-offset-[0.12em] tracking-[-0.03em] transition-transform;
  }

  .post-content h2,
  .post-content h3 {
    @apply mt-10 mb-1 text-2xl font-bold
  }

  .post-content h4 {
    @apply mt-6 mb-0 text-[18px] font-bold
  }

  .post-content p {
    @apply mt-6 mb-2 text-[17px] leading-[1.6];
  }

  .post-content ul,
  .post-content ol {
    @apply mt-4 mb-1;
  }

  .post-content li {
    @apply list-disc list-inside text-[17px] leading-[1.6] mb-4;
  }

  .post-content li::marker {
    @apply mr-1;
  }

  .post-content strong {
    @apply font-bold;
  }

  .post-content blockquote {
    @apply border-l-2 border-black/80 dark:border-white/80 pl-4 my-6;
  }

  .post-content blockquote p {
    @apply mt-0 mb-0 text-xl font-bold;
  }

  .post-content aside {
    @apply mt-4 mb-1 px-8 pt-1 pb-3 bg-black/5 dark:bg-white/5 rounded-md;
  }

  .post-content code {
    @apply bg-black/5 dark:bg-white/5 px-2 py-1 text-sm rounded-sm;
  }

  /* .post-content pre code.hljs {
    @apply bg-transparent rounded-md;
  } */

  .post-content a {
    @apply border-b-[0.08em] border-[var(--line)] transition-opacity hover:opacity-70;
  }
}
