---

interface Props {
  title: string;
  date: Date;
}

const { title, date } = Astro.props;
---

<html>
  <head>
    <meta charset="UTF-8">
    <title>{title}</title>
  </head>
  <body>
    <article id="content">
      <h1>{title}</h1>
      <slot />
    </article>
  </body>
</html>
